<html>
<head>
    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images_ex/fav.png" />

    <!-- TITLE -->
    <title>KFWC Admin | Dashboard </title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="/static/assets/css/style.css" rel="stylesheet" />
    <link href="/static/assets/css/dark-style.css" rel="stylesheet" />
    <link href="/static/assets/css/transparent-style.css" rel="stylesheet">
    <link href="/static/assets/css/skin-modes.css" rel="stylesheet" />


    <!--- FONT-ICONS CSS -->
    <link href="/static/assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/assets/colors/color1.css" />

    <link href="/static/assets/css/style-custom.css" rel="stylesheet" />
</head>

<body class="app sidebar-mini ltr light-mode">


    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                            href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="index.html">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo1" alt="logo">
                        </a>

                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            <!-- SEARCH -->
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex order-lg-2">


                                        <div class="d-flex country">
                                            <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                                <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                                <span class="light-layout"><i class="fe fe-sun"></i></span>
                                            </a>
                                        </div>


                                        <!-- SIDE-MENU -->
                                        <div class="dropdown d-flex profile-1">
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown"
                                                class="nav-link leading-none d-flex">
                                                <img src="/static/assets/images_ex/user.png" alt="profile-user"
                                                    class="avatar  profile-user brround cover-image">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading">
                                                    <div class="text-center">
                                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">Username</h5>
                                                        <small class="text-muted">Web Admin</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a class="dropdown-item" href="/myapp/viewprofile/">
                                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                                </a>
                                                <a class="dropdown-item" href="">
                                                    <i class="dropdown-icon fe fe-globe"></i> Website
                                                </a>

                                                <a class="dropdown-item" href="/myapp/login/">
                                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar">
                    <div class="side-header">
                        <!-- LOGO start -->
                        <a class="header-brand1" href="index.html">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img toggle-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo1" alt="logo">
                        </a>
                        <!-- LOGO  end-->
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                            </svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>Main</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="/myapp/home/"><i
                                        class="side-menu__icon fe fe-home"></i><span
                                        class="side-menu__label">Dashboard</span></a>
                            </li>

                           
                           
                          
                              <!-- Short Term Course-->
                              <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="/myapp/view_course/"><i
                                        class="side-menu__icon fa fa-book"></i><span
                                        class="side-menu__label">Short Term Course</span></a>
                            </li>
                           
                          
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                            </svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div>

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Short Term Course View</h1>
                <a href="/myapp/add_course/" class="btn btn-danger btn-pill">Add <i class="fa fa-plus"></i></a>

            </div>
            <!-- PAGE-HEADER END -->


            <div class="row">
                <div class="col-xl-12">
                    <form method="post" action="">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Short Term Course Table</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr>
                                            <td><input type="text" name="search" id="name" class="form-control" required></td>
                                        </tr>
                                    </table>
                                    <table class="table border text-nowrap text-md-nowrap table-hover mb-0" id="tb">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Image</th>
                                                <th>Title</th>
                                                <th>Subtitle</th>
                                                <th>Description</th>
                                                <th>Details</th>



                                                <th colspan="2">Status</th>
                                                <th colspan="2">Action</th>
                                            </tr>
                                        </thead>
{#                                        {% for i in data %}#}
                                        {% for  i in page_obj %}
                                        <tbody>
    <!-- TABLE DETAILS -->
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <img class="d-block img-fluid br-5 img-td" src="{{ i.image }}" alt="">
        </td>
        <td>{{ i.cname }}</td>
        <td>{{ i.subtitle }}</td>
        <td>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#description"
                onclick="handledescrclick('{{ i.description|escapejs }}')">
                <i class="side-menu__icon fe fe-eye text-white"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#crsdetail"
                onclick="handledescrclick1('{{ i.cname|escapejs }}','{{ i.description|escapejs }}')">
                <i class="side-menu__icon fe fe-list text-white"></i>
            </a>
        </td>
        <td>
{#            {% if i.status == 'Enable' %}#}
            <a href="/myapp/setinactive/{{ i.id }}" onclick="return confirm('Do you Want to Enable The Course?')">
                <span class="btn btn-success">Active</span>
            </a>
{#            {% else %}#}
            <a href="/myapp/setactive/{{ i.id }}" onclick="return confirm('Do you Want to Disable The Course?')">
                <span class="btn btn-danger">Inactive</span>
            </a>
{#            {% endif %}#}
        </td>
        <td>
            <a class="btn btn-info" href="/myapp/edit_course/{{ i.id }}">
                <i class="side-menu__icon fe fe-edit"></i>
            </a>
            <a class="btn btn-danger" href="/myapp/delete_course/{{ i.id }}"
                onclick="return confirm('Are you sure ?')">
                <i class="side-menu__icon fe fe-trash text-white"></i>
            </a>
        </td>
    </tr>
    </tbody>

                                            {% endfor %}
                                    </table>

    <div class="card-body">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item page-prev">
                <a class="page-link" href="?page={{ itr }}={{ page_obj.previous_page_number }}" tabindex="-1">Prev</a>
            </li>
            {% endif %}{% for i in page_obj %}
        {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item page-next">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
        <!-- pagination-wrapper -->
    </div>
    <!-- TABLE DETAILS END -->

{#{% endfor %}#}


                                </div>

                            </div>
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->




    <!-- MESSAGE MODAL -->
    <div class="modal  fade" id="description" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>

                    <h4 class="text-primary">Description</h4>
                    <p id="modalview" class="mg-b-20 mg-x-20"></p>

                </div>
            </div>
        </div>
    </div>

    <!-- Course Detail  MODAL -->
    <div class="modal  fade" id="crsdetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="modalview1"></td>
                                <td id="modalview2"></td>
{#                                #}
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer justify-content-center">
               
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
    
</div>

      
<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © <span id="year"></span> <a href="">KFWC</a> All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

</div>

<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JQUERY JS -->
<script src="/static/assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="/static/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- SPARKLINE JS-->
<script src="/static/assets/js/jquery.sparkline.min.js"></script>

<!-- Sticky js -->
<script src="/static/assets/js/sticky.js"></script>



<!-- SIDEBAR JS -->
<script src="/static/assets/plugins/sidebar/sidebar.js"></script>




<!-- INTERNAL SELECT2 JS -->
<script src="/static/assets/plugins/select2/select2.full.min.js"></script>





<!-- INTERNAL Bootstrap-Datepicker js-->
<script src="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- INTERNAL Bootstrap-Datepicker js-->
<script src="/static/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<!-- DATEPICKER JS -->
<script src="/static/assets/plugins/date-picker/date-picker.js"></script>
<script src="/static/assets/plugins/date-picker/jquery-ui.js"></script>
<script src="/static/assets/plugins/input-mask/jquery.maskedinput.js"></script>




<!-- INTERNAL Vector js -->
<script src="/static/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- SIDE-MENU JS-->
<script src="/static/assets/plugins/sidemenu/sidemenu.js"></script>

<!-- TypeHead js -->
<!-- <script src="/static/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
<script src="/static/assets/js/typehead.js"></script> -->

<!-- INTERNAL INDEX JS -->
<!-- <script src="/static/assets/js/index1.js"></script> -->

<!-- FILE UPLOADES JS -->
<script src="/static/assets/plugins/fileuploads/js/fileupload.js"></script>
<script src="/static/assets/plugins/fileuploads/js/file-upload.js"></script>

<!-- SELECT2 JS -->
<script src="/static/assets/plugins/select2/select2.full.min.js"></script>
<script src="/static/assets/js/select2.js"></script>

<!-- COLOR PICKER JS -->
<script src="/static/assets/plugins/pickr-master/pickr.es5.min.js"></script>
<script src="/static/assets/js/picker.js"></script>

<script src="/static/assets/js/formelementadvnced.js"></script>
<script src="/static/assets/js/form-elements.js"></script>
<!-- Color Theme js -->
<script src="/static/assets/js/themeColors.js"></script>


<!-- CUSTOM JS -->
<script src="/static/assets/js/custom.js"></script>
<script src="/static/assets/plugins/summernote/summernote1.js"></script>
<script src="/static/assets/js/summernote.js"></script>
<script>
$('#colorpicker').spectrum({
color: '#000'
});

</script>
<script type="text/javascript">
$('.inline-datepicker-example').datepicker({
format: "dd/mm/yyyy",
todayBtn: "linked",
language: "endinject",

todayHighlight: true,
}).on('changeDate', showTestDate);

function showTestDate(){
var value = $('#inline-datepicker-example').datepicker('getFormattedDate');
$("#showDate").html(value);
//$("#showDate").val(value);  for passing  input value

}


function handledescrclick(data) {
{#    alert(data.description)#}
    document.getElementById("modalview").innerHTML = data;
}

function handledescrclick1(data1,data2) {
{#    alert(data.description)#}

    document.getElementById("modalview1").innerHTML = data1;
    document.getElementById("modalview2").innerHTML = data2;
}



</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>




    <script>

     $(document).ready(function() {
{#    alert("Hello")#}
    $(document).on('keyup', '#name', function () {

      var a = $("#name").val()

      $.ajax({
        url: "/myapp/searchh/" + a,
        type: "GET",
        data: {

        },
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function(data)
        {


                v1 = data["status"];
                if (v1=="ok") {
{#                    alert("Hellooo")#}
                    v2 = data["data"];
                    $("#tb").empty();
                    $("#tb").append("<thead><tr><th>SL NO</th><th>Image<th>Title</th><th>Subtitle</th><th>DESCRIPTION</th><th>DETAILS</th><th colspan='2'>STATUS</th><th>ACTION</th><th></th></tr></thead>");
                    len = v2.length;
                    for (var i = 0; i <= len; i++) {
                        var p1 = v2[i]["id"];
                        var pimg = v2[i]["img"];
                        var p2 = v2[i]["title"];
                        var p3 = v2[i]["subtit"];
                        var p4 = v2[i]["quali"];
                        var p5 = v2[i]["statu"];
                        var p6 = v2[i]["descr"];
                        var pindex=parseInt(i)+1;

                        $("#tb").append("<tbody><tr><td>" + pindex + "</td><td><img src='" + pimg + "' class='d-block img-fluid br-5 img-td'/></td><td>" + p2 + "</td><td>"+ p3 + "</td>" +
                            "<td><a class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#description' onclick='handledescrclick(" +p6+ ")'><i class='side-menu__icon fe fe-eye text-white'></i></a></td>" +
                            "<td><a class='btn btn-dark' data-bs-toggle='modal' data-bs-target='#crsdetail' onclick='handledescrclick1("+p2+"|escapejs }}','{{ "+p6+"|escapejs }}')'><i class='side-menu__icon fe fe-list text-white'></i></a></td>" +
{#                            "<td><a href='/myapp/edit_course/"+p1+"' class='btn btn-info' id='edit'><i class='side-menu__icon fe fe-edit'></i></a></td>" +#}
{#                            "<td><a class='btn btn-danger' href='#' id='delt' yy=" + p1 + "><i class='side-menu__icon fe fe-trash text-white'></i></a></td>" +#}
                            "<td><a href='/myapp/setinactive/"+p1+"' class='btn btn-success'>Active</a></td><td><a href='/myapp/setactive/"+p1+"' class='btn btn-danger'>Inactive</a></td>" +
                            "<td><a href='/myapp/edit_course/"+p1+"' class='btn btn-info' id='edit'><i class='side-menu__icon fe fe-edit'></i></a></td>" +
                            "<td><a class='btn btn-danger' href='#' id='delt' yy=" + p1 + "><i class='side-menu__icon fe fe-trash text-white'></i></a></td></tr></tbody>")

                    }
                }
                else{
                    alert("no data");
                }
        },
        error: function(ts) {

{#          alert("error");#}
        }
      });
    });
         $(document).on('click', '#delt', function () {
        var n_id = $(this).attr('yy');

        $.ajax({
            url: "/myapp/AjaxDelete/" + n_id,
            type: "GET",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (dt) {
                alert('Deleted');
                window.location.reload()
            },
            error: function(ts) {
                alert("error");
            }
        })

    });
  });
</script>


    </div>
</body>
</html>

